* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f2f2f2;
}

h2 {
  text-align: center;
  margin-top: 1.5em;
  color: #f2a71b;
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: 300;
}

.container {
  margin: 0 auto;
  margin-top: 3em;
  width: 80%;
}

.subtitle {
  text-align: center;
  font-size: 20px;
  margin-top: 0.5em;
}

.graph-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.wrapper {
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  margin-top: 1em;
  padding: 1.5em;
}

button {
  border: none;
  text-transform: uppercase;
  background-color: #f2a71b;
  font-weight: 700;
  padding: 0.8em 1em;
  border-radius: 3px;
  cursor: pointer;
}

.graph-title {
  text-align: center;
  margin-top: 1em;
  font-weight: 400;
}

.container1, .container2 {
    margin: 0 auto;
  width: 90%;
  margin-top: 1em;
}

